body {
    background-image:url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg");
    background-size: auto 100vh;
    height: 100vh;
    font-family: monospace;
  }
  
  .menu {
    background-color: #4499ff
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around; 
  }
  
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: teal;
    text-decoration: none
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .site-tittle{
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtittle {
    color: teal;
    text-align: center;
    font-style: italic;
  }